/* Header */
.header {
  display: flex;
  flex-direction: column;
  border-bottom: 0.1rem solid var(--border);
}

/* Header-storage */
.header-storage {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--space-md);
  min-height: 4.2rem;
  margin: var(--space-lg);
  margin-bottom: 0;
}

.storage-device {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-md);
  padding: var(--space-md);
  border-radius: var(--radius-lg);
  transition: all 0.2s ease;
  background: var(--bg-secondary);
}

.storage-device:active,
.storage-device.active {
  background: rgba(var(--primary-rgb), 0.4);
}

.light-theme .storage-device:active,
.light-theme .storage-device.active {
  background: transparent;
  box-shadow: 0 0 0 2px rgba(var(--primary-rgb), 0.6);
}

.device-icon {
  display: flex;
}

.storage-icon {
  width: 1.6rem;
  height: 1.6rem;
  color: var(--icon-primary);
}

.device-name {
  text-align: center;
  font-size: var(--fs-md);
  color: var(--text-primary);
}

.storage-device.active .storage-icon {
  color: var(--primary);
}